<html>

<head>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script>
        htmx.onLoad(function(content) {
            var sortables = content.querySelectorAll(".sortable");
            for (var i = 0; i < sortables.length; i++) {
              var sortable = sortables[i];
              var sortableInstance = new Sortable(sortable, {
                  animation: 150,
                  ghostClass: 'blue-background-class',

                  // Make the `.htmx-indicator` unsortable
                  filter: ".htmx-indicator",
                  onMove: function (evt) {
                    return evt.related.className.indexOf('htmx-indicator') === -1;
                  },

                  // Disable sorting on the `end` event
                  onEnd: function (evt) {
                    this.option("disabled", true);
                  }
              });

              // Re-enable sorting on the `htmx:afterSwap` event
              sortable.addEventListener("htmx:afterSwap", function() {
                sortableInstance.option("disabled", false);
              });
            }
        })
    </script>
</head>

<body>
    <div hx-target="this" hx-swap="outerHTML">
        <div><label>Name</label>: <%== @name %></div>
        <button hx-get="/contacts/1/edit" class="btn btn-primary">
            Edit
        </button>
    </div>
</body>

</html>
